{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Weather Forecast</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- Chart.js for line chart -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <nav class="navbar navbar-dark bg-primary justify-content-between" style="color: #fff;">
    <a class="navbar-brand">Weather Forecast</a>
  </nav>
  <br>
  <div class="container">
    <form class="form-inline" method="post">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" name="city" placeholder="Write city" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br>
    {% if city %}
    <div class="row align-items-center">
      <div class="col-6 col-md-4">
        <h1>{{city}}, {{country}}</h1>
        <div>
          <img src="{{icon}}">
          {{description}}
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Temperature</td>
              <td>{{temperature}}℃</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Feels like</td>
              <td>{{feels_like}}℃</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Temperature min</td>
              <td>{{temperature_min}}℃</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Temperature max</td>
              <td>{{temperature_max}}℃</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Pressure</td>
              <td>{{pressure}} hPa</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Humidity</td>
              <td>{{humidity}}%</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Wind speed</td>
              <td>{{windspeed}} meter/sec</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 col-md-8">
        <div>
          <div style="display: none" id="jsonData" data-json="{{data}}"></div>
          <canvas id="lineChart">
            <script>
              const labels = {{labels|safe}};

              const data = {
                labels: labels,
                datasets: [{
                  label: 'Temp',
                  data: {{temps|safe}},
                  fill: false,
                  borderColor: 'rgb(75, 192, 192)',
                  tension: 0.1,
                }]
              };

              const config = {
                type: 'line',
                data: data,
                options: {}
              };

              const myChart = new Chart(
                  document.getElementById('lineChart'),
                  config
              );
            </script>
          </canvas>
      </div>
    </div>
  {% else %}
  <p>Write city to receive weather forecast</p>
  {% endif %}
  </div>
</body>

</html>